<!DOCTYPE html>
<html lang='en'>

<head>
   <meta charset='UTF-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>Document</title>
</head>

<body style='font-family: Arial, Helvetica, sans-serif;'>




   <div style='line-height: 1.6;'>
      <div>Subject: <span style='font-weight: bold;'>Basement key-plan CC1</span></div>
      <div>RFA Ref: <span style='font-weight: bold;'>RFA/PDD/ARC/005B</span></div>
      <div>Submission Date: <span style='font-weight: bold;'>04 April 2021</span></div>
      <div>Status: <span style='font-weight: bold;'>Consultant reviewing</span></div>
      <br />
      <div>Dear Mr/Mrs <span style='font-weight: bold;'>DCA</span>,</div>
      <div>
         <span style='font-weight: bold;'>Woh Hup Private Ltd</span> has submitted <span
            style='font-weight: bold;'>RFA/PDD/ARC/005B</span> for you to review, the
         drawings included in this RFA
         are in the list below.
      </div>
      <div>Please review and reply to us by <span style='font-weight: bold;'>18 April 2021.</span></div>

      <br />
      <div>Uploaded Documents</div>
      <table align='center' cellpadding='0' cellspacing='0' width='100%'
         style='border-collapse: collapse; font-size: 14px;'>
         <tr style='background: #34495e; color: white;'>
            <th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'></th>
            <th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Drawing Number
            </th>
            <th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Drawing Name</th>
            <th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Rev</th>
         </tr>
         <tr>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>1</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'><a
                  style="text-decoration: none;" href='www.google.com'>PDD_WH_A_KP---_CC1_B02_001</a></td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:
               Basement 2 - Part 1 of 2</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>0</td>
         </tr>
         <tr>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>2</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>
               <a style="text-decoration: none;" href='www.google.com'>PDD_WH_A_KP---_CC1_B02_002</a>
            </td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:
               Basement 2 - Part 2 of 2</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>0</td>
         </tr>
         <tr>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>3</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>
               <a style="text-decoration: none;" href='www.google.com'>PDD_WH_A_KP---_CC1_B01_002</a>
            </td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:
               Basement 1 - Part 2 of 2</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>0</td>
         </tr>
         <tr>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>4</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>
               <a style="text-decoration: none;" href='www.google.com'>PDD_WH_A_KP---_CC1_B1M_001</a>
            </td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:
               Basement 1M - Part 1 of 2</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>0</td>
         </tr>
         <tr>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>5</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>
               <a style="text-decoration: none;" href='www.google.com'>PDD_WH_A_KP---_CC1_B1M_002</a>
            </td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:
               Basement 1M - Part 2 of 2</td>
            <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>0</td>
         </tr>
      </table>

      <br />
      <div>This is an automatic email from <span style='font-weight: bold;'>Woh Hup Private Ltd</span></div>
      <br />
      <div style='font-size: 13px;'>This email, including attached files, may contain confidential information and is
         intended only for the use of the individual and/or entity to which it is addressed. If you are not the
         intended
         recipient, disclosure, copying, use, or distribution of the information included in this email is prohibited
      </div>
   </div>

</body>

</html>