<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style='line-height: 1.6; font-family: Arial, Helvetica, sans-serif;'>
        <div>Subject: <span style='font-weight: bold;'>rep nhe</span></div>
        <div>RFA Ref: <span style='font-weight: bold;'>RFA/PDD/ARC/003A</span></div>
        
           <div>Reply Date: <span style='font-weight: bold;'>Apr 23rd 2021</span></div>
           <br />
           <div>Dear Mr/Mrs <span style='font-weight: bold;'>Woh Hup Private Ltd</span>,</div>
           <div>
              <span style='font-weight: bold;'>ONG & ONG</span> has reply <span
                 style='font-weight: bold;'>RFA/PDD/ARC/003A</span>, the
              replied drawings included in this RFA
              are in the list below.
           </div>
        
        
        <div>ddddddddddddd</div>
        <br />
        <div>Uploaded Documents</div>
        <table align='center' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; font-size: 14px;'>
           <tr style='background: #34495e; color: white;'><th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'></th><th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Drawing Number</th><th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Drawing Name</th><th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Rev</th><th style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Status</th></tr>
           <tr><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>1</td>
                    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>
                       <a style='text-decoration: none;' href='drawingPlatform/MTYxNzg5MDkxNzI2MC10ZXN0OA/RFA/PDD/ARC/003/ARCHI/A/reply/ABM_07_00_BSMT_001_REV.pdf'>
                          PDD_WH_A_KP---_CC1_L01_001
                       </a>
                    </td>
                 <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:  Level 1 - Part 1 of 6</td><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>A</td><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Reject and resubmit</td></tr><tr><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>2</td>
                    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>
                       <a style='text-decoration: none;' href='drawingPlatform/MTYxNzg5MDkxNzI2MC10ZXN0OA/RFA/PDD/ARC/003/ARCHI/A/reply/PD_C2_BM1_.pdf'>
                          PDD_WH_A_KP---_CC1_L01_002
                       </a>
                    </td>
                 <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:  Level 1 - Part 2 of 6</td><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>A</td><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Approved with comments, to Resubmit</td></tr><tr><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>3</td>
                    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>
                       <a style='text-decoration: none;' href='drawingPlatform/MTYxNzg5MDkxNzI2MC10ZXN0OA/RFA/PDD/ARC/003/ARCHI/A/reply/PDD_RFA_1A_comment.pdf'>
                          PDD_WH_A_KP---_CC1_L01_003
                       </a>
                    </td>
                 <td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>CC1 Key Plan:  Level 1 - Part 3 of 6</td><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>A</td><td style='border: 1px solid #dddddd; text-align: left; padding: 8px; position: relative;'>Approved for Construction</td></tr>
        </table>
        <br />
        <div>This is an automatic email from <span style='font-weight: bold;'>ONG & ONG</span></div>
        <br />
        <div style='font-size: 13px;'>This email, including attached files, may contain confidential information and is
           intended only for the use of the individual and/or entity to which it is addressed. If you are not the
           intended
           recipient, disclosure, copying, use, or distribution of the information included in this email is prohibited
        </div>
     </div>

</body>

</html>